argcomplete            
asn1crypto             
bcc                    
blinker                
Brlapi                 
Brotli                 
certifi                
chardet                
click                  
colorama               
command-not-found      
cryptography           
cupshelpers            
dbus-python            
distro                 
distro-info            
fuse-python            
gpg                    
greenlet               
gyp                    
html5lib               
httplib2               
idna                   
language-selector      
launchpadlib           
lazr.restfulclient     
lazr.uri               
louis                  
Markdown               
markdown-it-py         
mdurl                  
mechanize              
msgpack                
mutagen                
netaddr                
netifaces              
oauthlib               
olefile                
packaging              
pexpect                
pillow                 
pip                    
pipx                   
platformdirs           
psutil                 
ptyprocess             
pycairo                
pycryptodomex          
pycups                 
Pygments               
PyGObject              
PyJWT                  
pylibacl               
pynvim                 
pyparsing              
PyQt5                  
PyQt5-sip              
python-apt             
python-debian          
pyxattr                
pyxdg                  
PyYAML                 
requests               
rich                   
screen-resolution-extra
setuptools             
six                    
systemd-python         
tornado                
typing_extensions      
ubuntu-drivers-common  
ubuntu-pro-client      
ufw                    
unattended-upgrades    
urllib3                
usb-creator            
userpath               
wadllib                
webencodings           
websockets             
wheel                  
xdg                    
xkit                   
yt-dlp                 
